<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project15</title>
</head>
<body>

<table border="1">
    {{#each salesArray}}
        <tr>
            <td>{{salesDate}}</td>
            <td>{{salesOrderNum}}</td>
            <td>{{storeId}}</td>
            <td>{{poNum}}</td>
        </tr>
    {{/each}}
</table>

</body>
</html>